* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.search-form {
  display: flex;
}

.pokeomn-nav-item.selected {
  color: #000;
  background-color: #fff;
}

.captured-pokemon {
  position: relative;
  width: auto;
  cursor: pointer;
}

button.delete-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: -30px;
  font-weight: 200;
  color: #fff;
  background: none;;
  border: 1px #fff solid;
  line-height: 14px;
  font-size: 20px;
  border-radius: 50%;
  cursor:pointer;
}
@media screen and (max-width: 980px) {
  button.delete-btn {
    top: 0px;
    right: -5px;
  }
} 
@media screen and (max-width: 640px) {
  h5 .pokemon-type {
    font-size: 0.8rem;
  }

  img.pokemon-image {
    width: 50%;
    margin: 0 auto;
  }
  .pokemon-stats-list {
    font-size: 0.65rem;
  }

  img.captured-pokemon {
    width: 64px;
    height: 64px;
  }

  button.delete-btn {
    top: -5px;
    right: 0;
  }
}